
.shop-category-banner{
    margin: 30px auto;
    width: 80%;
    background: #fec195;
    height: 20%;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.shop-category-banner h1{
    text-decoration: wavy;
    color: #897567;
}
.shop-category-banner img{
    height: 100%;
    width: 250px;
    margin-left: 20px;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;
}
.shoptcategory-sort{
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.shoptcategory-sort img{
    height: 15px;
    width: 15px;
    rotate: -90deg;
}
.shoptcategory-sort input{
    border-radius: 5px;
    height: 25px;
    width: 90px;
}
.inputPrice{
    display: none;
}
.shopcategory-indexSort p span {
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #878787;
    font-size: 18px;
    font-weight: 500;
}
@media (max-width: 1280px){
    .shop-category-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shoptcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
    .shop-category-banner h1{
        font-size:25px;
    }
}
@media (max-width: 800px){
    .shop-category-banner{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
    .shop-category-banner h1{
        font-size: 20px;

    }
}
@media (max-width: 500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
    .shop-category-banner h1{
        display: none;
    }
    .shop-category-banner img{
        height: 100%;
        width: 150px;
        margin-left: 20px;
    }
    .shoptcategory-sort input{
        border-radius: 5px;
        height: 20px;
        width: 60px;
        font-size: 9px;
    }
    .shoptcategory-sort img{
        height: 10px;
        width: 10px;
    }
}